{% extends 'base.html' %}
{% block extra_head %}<script src='https://www.google.com/recaptcha/api.js'></script>{% endblock %}
{% block contents %}
  <form method="post">
    {% csrf_token %}

    <div class="g-recaptcha" data-sitekey="6Ld4Tz4UAAAAAEnsEF3EcBBdGViccpEQNiA1rBcs"></div>

    <button type="submit" class="btn btn-primary">Post</button>
  </form>
{% endblock %}
{% block extra_script %}
<script>
$(document).ready(function () {
    $("form").submit(function(event) {

        var recaptcha = $("#g-recaptcha-response").val();
        if (recaptcha === "") {
            event.preventDefault();
            alert("Please check the recaptcha");
        }
    });
});
</script>
{% endblock %}
